.hotelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hotelBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.hotelBtn,
.hotelDetailsPrice > button {
    padding: 10px 20px;
    background-color: #0071c2;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.hotelBtn:hover,
.hotelDetailsPrice > button {
    background-color: #0262a7;
}

.hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.hotelText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hotelTitle {
    font-size: 20px;
}

.hotelDistance {
    color: #0071c2;
    font-weight: 500;
}

.hotelPriceHighlight {
    color: #008009;
}

.hotelAddress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hotelImages {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
}

.hotelImageWrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: brightness(0.72);
    transition: 0.2s;
}

.hotelImageWrapper img:hover {
    filter: brightness(0.95);
}

.hotelDetails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.hotelDesc {
    line-height: 1.5;
    font-size: 14px;
    margin-top: 10px;
}

.hotelDetailsText {
    flex: 3;
}

.hotelDetailsPrice {
    flex: 1;
    padding: 20px;
    background-color: #268ad241;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotelDetailsPrice > h2 {
    font-size: 18px;
    color: #555;
}

.hotelDetailsPrice > span {
    font-size: 14px;
    color: #555;
}

.hotelDetailsPrice > h3 {
    font-weight: 300;
}
